<section class="categories">
  <div class="container">
    <h2 class="categories-title">Наші меблі</h2>
    <h3 class="categories-subtitle">Знайдіть ідеальні рішення для вашого інтер'єру</h3>
    <ul class="categories-list"></ul>
    <ul class="furnitures-list">
      <li class="furnitures-item">
        <img class="furnitures-item__img" src="/img/about-us-section/a-behind-the-scenes-desk.webp" alt="test">
        <h3 class="furnitures-item__title">Софа Oslo</h3>
        <ul class="furnitures-item__color-list">
          <li class="furnitures-item__color" style="background-color: #c7c3bb"></li>
          <li class="furnitures-item__color" style="background-color: #c7aa80"></li>
          <li class="furnitures-item__color" style="background-color: #201a19"></li>
        </ul>
        <p class="furnitures-item__price">9 999 грн</p>
        <button class="furnitures-item__btn buttonWhite">Детальніше</button>
      </li>
      <li class="furnitures-item">
        <img class="furnitures-item__img" src="/img/about-us-section/a-behind-the-scenes-desk.webp" alt="test">
        <h3 class="furnitures-item__title">Софа Oslo</h3>
        <ul class="furnitures-item__color-list">
          <li class="furnitures-item__color" style="background-color: #c7c3bb"></li>
          <li class="furnitures-item__color" style="background-color: #c7aa80"></li>
          <li class="furnitures-item__color" style="background-color: #201a19"></li>
        </ul>
        <p class="furnitures-item__price">9 999 грн</p>
        <button class="furnitures-item__btn buttonWhite">Детальніше</button>
      </li>
      <li class="furnitures-item">
        <img class="furnitures-item__img" src="/img/about-us-section/a-behind-the-scenes-desk.webp" alt="test">
        <h3 class="furnitures-item__title">Софа Oslo</h3>
        <ul class="furnitures-item__color-list">
          <li class="furnitures-item__color" style="background-color: #c7c3bb"></li>
          <li class="furnitures-item__color" style="background-color: #c7aa80"></li>
          <li class="furnitures-item__color" style="background-color: #201a19"></li>
        </ul>
        <p class="furnitures-item__price">9 999 грн</p>
        <button class="furnitures-item__btn buttonWhite">Детальніше</button>
      </li>
      <li class="furnitures-item">
        <img class="furnitures-item__img" src="/img/about-us-section/a-behind-the-scenes-desk.webp" alt="test">
        <h3 class="furnitures-item__title">Софа Oslo</h3>
        <ul class="furnitures-item__color-list">
          <li class="furnitures-item__color" style="background-color: #c7c3bb"></li>
          <li class="furnitures-item__color" style="background-color: #c7aa80"></li>
          <li class="furnitures-item__color" style="background-color: #201a19"></li>
        </ul>
        <p class="furnitures-item__price">9 999 грн</p>
        <button class="furnitures-item__btn buttonWhite">Детальніше</button>
      </li>
      <li class="furnitures-item">
        <img class="furnitures-item__img" src="/img/about-us-section/a-behind-the-scenes-desk.webp" alt="test">
        <h3 class="furnitures-item__title">Софа Oslo</h3>
        <ul class="furnitures-item__color-list">
          <li class="furnitures-item__color" style="background-color: #F5DEB3"></li>
          <li class="furnitures-item__color" style="background-color: #F5DEB3"></li>
          <li class="furnitures-item__color" style="background-color: #F5DEB3"></li>
        </ul>
        <p class="furnitures-item__price">9 999 грн</p>
        <button class="furnitures-item__btn buttonWhite">Детальніше</button>
      </li>
    </ul>
    <button class="load-more-btn buttonRed">Показати ще</button>
  </div>
</section>