<section class="categories">
  <div class="container">
    <h2 class="categories-title">Наші меблі</h2>
    <h3 class="categories-subtitle">Знайдіть ідеальні рішення для вашого інтер'єру</h3>
    <ul class="categories-list">
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
      <li class="categories-item">
        <h4 class="categories-item__title">Всі товари</h4>
      </li>
    </ul>
  </div>
</section>